/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
# JetBrains
.idea
# Vagrant
.vagrant
# Cloud 9
.c9
# Environment Configuration
.env
# Test output
slack_online_users.txt
sample_input.json
/*.csv
